<!-- Audio Player-->
<div class="audio-player">
  <div class="audio-cont">
      <div class="audio-cta"></div>
      <audio class="audio-file" preload>
          <source src="assets/audio/{{audioPlayer.audio}}" type="audio/mp3">
      </audio>
  </div>
</div>
