<ul class="global-popup-links">
  <li class="patient-profile-popup"><a href="#" class="pop-up-trigger info-popup" data-popup="{{globalPopup.patientProfileData}}" {{globalPopup.disabled}}>{{globalPopup.patientProfileText}}</a></li>
  <li><a href="#" class="pop-up-trigger info-popup" data-popup="ohg-base-example-m-isi">ISI</a></li>
  <li><a href="#" class="pop-up-trigger info-popup" data-popup="ohg-base-example-m-pi">PI</a></li> 
  <li><a href="#" class="pop-up-trigger info-popup" data-popup="{{globalPopup.refData}}">REFS</a></li>
</ul>