<!-- Side Nav Bar -->
<section class="lux-idtl-globla-nav">
	<nav class="nav-toogle">
		<button class="hamburger">
			<span class="line"></span>
			<span class="line"></span>
			<span class="line"></span>
		</button>
	</nav>
	<div class="side-bar">
		<ul>
			<li class="main-link"><a href="veeva:gotoSlide(ohg_base_example.zip, ohg_base_example)">OPTION MENU 1</a></li>
			<li class="main-link"><a href="veeva:gotoSlide(ohg_base_example.zip, ohg_base_example)">OPTION MENU 2</a></li>
			<li class="sub-link"><a href="veeva:gotoSlide(ohg_base_example.zip, ohg_base_example)">SUBOPTION 1</a></li>
			<li class="sub-link"><a href="veeva:gotoSlide(ohg_base_example.zip, ohg_base_example)">SUBOPTION 2</a></li>
			<li class="main-link"><a href="veeva:gotoSlide(ohg_base_example.zip, ohg_base_example)">OPTION 3</a></li>
		</ul>
	</div>
</section>
