<section class="pop-up hide" id="ohg-base-example-m-pi">
   <div class="container">
      <div class="pop-up-header">
         <img class="popup-close isi-close" src="../shared/images/[YOUR CUSTOM CLOSE BUTTON IMAGE].png" alt="">
      </div>

      <div class="pi-scroll scroller">
         <div class="pi-title">
            <p>PRESCRIBING INFORMATION</p>
         </div>

         <div class="pi-body">
            <img src="../shared/images/[YOUR CUSTOM PI IMAGE].jpg" alt="Prescribing Information">
         </div>
      </div>

   </div>
</section>
